<ol>
    <% record.questions.each do |q| %>
        <li><%= q.content %>
            <%= button_to "Remove", {action: 'destroy', quiz_id: @quiz.id, id: q.id}, method: 'delete' %>
            <ul>
                <% q.answers.each do |a| %>
                    <li>
                        <%= a.content %><%= " -correct answer" if a.correct_answer %>
                        </li>
                <% end %>
            </ul>
        </li>
    <% end %>
</ol>