<h1>Create a Quiz!</h1>

<% if @quiz.errors.any? %>
    <% @quiz.errors.full_messages.each do |m| %>
        <%= m %>
    <% end %>
<% end %>


<%= form_for [@group, @quiz] do |f| %>
    <%= f.text_field :name %>
    <%= f.submit "Add Questions" %>

<% end %>