<h1>Create a Quiz!</h1>

<%= form_for @quiz, url: group_quizzes_path() do |f| %>
    <%= render 'shared/validation_errors', :record => @quiz %>
    <%= f.text_field :name %>
    <%= f.submit "Add Questions" %>
<% end %>