<%= render "shared/page_title", content: @group.name %>
<%= render "shared/page_heading", content: @group.name %>

<% content_for :page_specific_link do %>
    <%= link_to "Drop Class", unenroll_path(@group), method: "post" %>
<% end %>

<div class="list-container">
    <h2>Quizzes</h2>
    <%= render partial: "display_group_quizzes_student", locals: {group: @group} %>
</div>
