<h1><%= @group.name %></h1>
<h3><%= @group.teacher.last_name %></h3>

<h2>Quizzes</h2>
<ul>
    <% @group.quizzes.each do |q| %>
        <li>
            <%= link_to q.name, group_quiz_path(@group, q) %>
        </li>
    <% end %>
</ul>

<h2>Students</h2>
<ul>
    <% @group.students.each do |s| %>
        <li>
            <%= s.first_name %>
        </li>
    <% end %>
</ul>