<%= link_to "Create A Quiz", new_group_quiz_path(@group) %>

<h2>Quizzes</h2>
<% @group.quizzes.each do |q| %>
    <%= link_to group_quiz_path(@group, q) do %>
        <h4><%= q.name %></h4>
        <p><%= student_results_count(q) %></p>
    <% end %>
<% end %>