<% if flash[:notice] %>
    <section class="errors-block error-border">
        <ul>
            <% flash[:notice].each do |m| %>
                <%= m %>
            <% end %>
        </ul>
    </section>
<% end %>

