<% if record.errors.any? %>
    <div class="errors">
        <ul>
            <% record.errors.messages.values.each do |msg| %>
                <% msg.each do |m| %>
                    <li><%= m %></li>
                <% end %>
            <% end %>
        </ul>
    </div>
<% end %>

<%#= render 'shared/validation_errors', :record => @question %>