<%= link_to(group, class: "block-link") do %>
    <section class="class-block">

        <div class="block-heading">
            <h3><%= group.name %></h3>
            <p>Teacher: <%= group.teacher.full_name %></p>
        </div>

        <p><%= quizzes_due(group) %> Quizzes Due</p>

    </section>
<% end %>