<%= render "shared/page_title", content: "dashboard" %>
<div class="block-display">
    <% @user.enrolled_classes.each do |c| %>
        <%= render partial: "group_chunk", :locals => {group: c} %>
    <% end %>
</div>