<%= render "shared/page_title", content: "dashboard" %>
<%= render "shared/page_heading", content: "Groups" %>

<div class="block-display">
    <% @user.enrolled_classes.each do |c| %>
        <%= render partial: "group_chunk", :locals => {group: c} %>
    <% end %>
</div>