<%= render "shared/page_title", content: "dashboard" %>
<%= render "shared/page_heading", content: "Classes" %>

<div class="list-container">
    <% if @user.enrolled_classes.any? %>
        <% @user.enrolled_classes.each do |c| %>
            <%= render partial: "group_chunk", :locals => {group: c} %>
        <% end %>
    <% else %>
        <%= link_to "Enroll in a class!", groups_path() %>
    <% end %>
</div>