<div class="columns">
    <div class="column">
        <h3>Groups:</h3>
        <% @user.taught_classes.each do |c| %>
            <%= link_to(c, class: "block-link") do %>
                <section class="quiz-block">
                    <div class="block-heading">
                        <h3><%= c.name %></h3>
                    </div>
                    <p><%= c.students.count %> Students Enrolled.</p>
                </section>
            <% end %>
        <% end %>
    </div>
</div>


