<h3>Groups:</h3>
<ul>
    <% @user.taught_classes.each do |c| %>
        <li>
            <%= link_to( "#{c.name}", c) %><br>
            <%= c.students.count %> Students Enrolled.
        </li>
    <% end %>
</ul>

<h3>Students:</h3>
<ul>
    <% @user.students.each do |s| %>
        <li>
            <%= s.first_name %>
        </li>
    <% end %>
</ul>
