* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
}
.view {
    width: 80%;
    padding-top: 50px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}