.list-container {
  width: 500px;
  margin: 0 auto;
}
.quiz-link {
  text-decoration: none;
}
.quiz-block {
  color: white;
  margin: 5px 0px;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
.completed {
  background-color: var(--completed-bg-color);
}
.untaken {
  background-color:var(--unattempted-bg-color);
}
.untaken:hover {
  transform: scale(1.02);
/*   filter: hue-rotate(25deg); */
  filter: brightness(1.25);
}
.group {
  color: black;
  border: solid #646464 1px;
  background-color:var(--group-bg-color);
}
.group:hover {
  transform: scale(1.02);
  
}