<header>
    <p id="user-greeting"><%= user_greeting() %></p>

    <% if content_for?(:page_specific_heading)%>
        <%= yield :page_specific_heading %>
    <% end %>

    <%= render "layouts/site_nav" %>
</header>




    